@color-primary:#20a0ff;//颜色


.el-menu {
    // 菜单默认背景色
    background-color: #eef1f6;
    .el-submenu__title:hover {
        background-color: #d1dbe5;
    }
}
.el-submenu .el-menu {
    background-color: #e4e8f1;
}